<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="sigma_pricematrix" frontName="sigma_pricematrix">
            <module name="Sigma_PriceMatrix"/>
        </route>
    </router>
</config>
