<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="price_addto_cart" instance="Sigma\PriceMatrix\Observer\PriceAddtoCart" />
    </event>
    <event name="sales_quote_collect_totals_before">
        <observer name="price_edit_mini_cart" instance="Sigma\PriceMatrix\Observer\EditQuantity" />
    </event>
</config>
